input:focus-visible, textarea:focus-visible {
    outline: none;
}

button[type="submit"]:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.menu__link {
    cursor: pointer;
}

.lang-picker-item.active {
    background: rgba(251, 55, 27, .1);
    border-bottom: 2px solid #fb371b;
}